<!DOCTYPE html>
<html>
    <script src = "/js/bootstrap.min.js"></script>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <div id="wrap">
            <span class="title">Hello!</span>
            <div class="user alert alert-primary">
                <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
                <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
            </div>
        </div>
    </body>
</html>